@model GCNI.Models.GCNIModel

@{
    ViewBag.Title = "AdminMaster";
    
}
<!DOCTYPE html>
<html class="csstransforms no-csstransforms3d csstransitions" lang="en"><head>
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>GCNI</title>
	
	<!-- core CSS -->
    <link href="~/css/tableStyle.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
	<link href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <!--<link rel="shortcut icon" href="http://shapebootstrap.net/demo/html/corlate/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://shapebootstrap.net/demo/html/corlate/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://shapebootstrap.net/demo/html/corlate/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://shapebootstrap.net/demo/html/corlate/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://shapebootstrap.net/demo/html/corlate/images/ico/apple-touch-icon-57-precomposed.png">-->
   <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <style type="text/css">
    .error
    {
        border: solid!important;
        border-color: red!important;
    }
        body { font-size:15px;
        }   
</style>

    <link type="text/css" rel="stylesheet" href="~/JEditor/jquery-te-1.4.0.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="~/JEditor/jquery-te-1.4.0.min.js" charset="utf-8"></script>

    @*Kendo Editor Links*@
    @*<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2015.3.1111/styles/kendo.common.min.css"/>
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2015.3.1111/styles/kendo.rtl.min.css"/>
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2015.3.1111/styles/kendo.silver.min.css"/>
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2015.3.1111/styles/kendo.mobile.all.min.css"/>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2015.3.1111/js/kendo.all.min.js"></script>*@
    @*End of Kendo Links*@


<link href="~/css/tableStyle.css" rel="stylesheet" />
</head><!--/head-->

<body class="homepage" >

    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">  
                    </div>
                    <div class="col-sm-6 col-xs-12">
                    @*<div class="search">
                                <form role="form">
                                    <input class="search-form" autocomplete="off" placeholder="Search" type="text">
                                    <i class="fa fa-search"></i>
                                </form>
					</div>*@
					<div class="social">
						<ul class="social-share">
                            <li style="width:300px;margin-top: 12px;display:none;" id="search">
                                <script>
                                    (function () {
                                        var cx = '005855697794264765607:1orfyayp5sk';
                                        var gcse = document.createElement('script');
                                        gcse.type = 'text/javascript';
                                        gcse.async = true;
                                        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                            '//cse.google.com/cse.js?cx=' + cx;
                                        var s = document.getElementsByTagName('script')[0];
                                        s.parentNode.insertBefore(gcse, s);
                                    })();
                                </script>
                                <gcse:searchbox-only></gcse:searchbox-only>
                                @*<script>
            (function() {
              var cx = '005855697794264765607:1orfyayp5sk';
              var gcse = document.createElement('script');
              gcse.type = 'text/javascript';
              gcse.async = true;
              gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                  '//cse.google.com/cse.js?cx=' + cx;
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(gcse, s);
            })();
                                      </script>
                                      <gcse:searchbox-only></gcse:searchbox-only>*@

                            </li>
                            <li><a href="#" onclick="getsearch();" id="meg"><i class="fa fa-search"></i></a></li>
                            <li><a href="~/Admin/GetInvolvedManagement">| Get Involved</a> |</li> 
                            <li><a href="~/Admin/GetInvolvedFeedbackManagement">Feedback</a> |</li> 
                            <li><a href="~/Admin/MediaManagement">Media</a> |</li>                       
							<li><a href="~/Admin/CareersManagement"> Careers </a>|</li> 
							<li><a href="~/Admin/FAQsManagement">FAQ</a>|</li>
						</ul>
					</div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="@Url.Content("~/Uploads/HomeMaster/" + Model.objHomeMaster.Logo1)" alt="logo"></a>
                </div>
				
                <div class="logo_right">
					<a class="navbar-brand" href="index.html"><img src="@Url.Content("~/Uploads/HomeMaster/" + Model.objHomeMaster.Logo2)" alt="logo"></a>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
		<div class="main-nav collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="Menu"><a href="~/Admin/HomePageManagement">HOME</a>|
                 <ul class="subMenu" style="list-style-type:none;">
                        <li><a href="~/Admin/ArticleManagement">Article Management</a></li>
                      
                         <li><a href="~/Admin/EventManagement">Event Management</a></li>
                          <li><a href="~/Admin/NewsManagement">News Management</a></li>
                           <li><a href="~/Admin/PublicationManagement">Publication Management</a></li>
                     <li><a href="~/Admin/OpinionPollManagement">Opinion Poll</a></li>
                    </ul></li>
				<li class="Menu"><a href="~/Admin/GCNIManagement">GCNI</a>|
                    @*<ul class="subMenu" style="list-style-type:none;">
                        <li><a href="#">UNGC</a></li>
                      
                         <li><a href="#">10 Principles</a></li>
                          <li><a href="#">Governing Council</a></li>
                           <li><a href="#">Secretariat</a></li>
                            <li><a href="#">GCNI Membership</a></li>
                    </ul>*@
                </li>
				<li class="Menu"><a href="#">ABOUT US</a>|
                    <ul class="subMenu" style="list-style-type:none;">
                          <li><a href="~/Admin/About_US_JourneyOfCOE">Journey of CEGET</a></li>
                          <li><a href="~/Admin/About_UsManagement1">Adv. committee & Team</a></li>
                           <li><a href="~/Admin/About_US_RoleCOE">Role of CEGET</a></li>
                    </ul>
                </li>
				<li><a href="~/Admin/KnowledgeManagement">KNOWLEDGE HUB</a>|</li>
				<li class="Menu"><a href="#">RESOURCES</a>|
                    <ul class="subMenu" style="list-style-type:none;">
                                             
                         <li><a href="~/Admin/ResourcesCOE">CEGET Reports</a></li>
                          <li><a href="~/Admin/Training">Training</a></li>
                          <li><a href="~/Admin/ResourcesWebinars">Webinars</a></li>
                        <li><a href="~/Admin/WebinarRegistrations">Webinars Registrations Details</a></li>
                            <li><a href="~/Admin/ResourcesDiscussion">Discussion</a></li>
                    </ul>
                </li>
				<li class="Menu"><a href="#">ACTIVITIES</a>|
                    <ul class="subMenu" style="list-style-type:none;">
                        <li><a href="~/Admin/ActivitiesInitiative">Initiatives</a></li>
                        <li><a href="~/Admin/ActivitiesIssues">Issues</a></li>
                         
                    </ul>
                </li> 
				<li><a href="~/Admin/OurPartners">OUR PARTNERS</a></li>                        
			</ul>
		</div>
		
    </header><!--/header-->
 
    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <div class="carousel-inner">
                <div class="item active" style="height: 85px;">
                    <div class="container">
                        <div class="row slide-margin">
                           @* <div class="col-sm-12">
                                <div class="slider-img">
                                    <img src="../images/img2.png" class="img-responsive">
                                </div>
								<div style="color: rgb(255, 255, 255); font-weight: bold; font-family: Gotham; font-size: 18px; text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6); margin-top: 135px;">
									<div class="col-sm-4">Advisory commitee</div>
									<div class="col-sm-8" style="text-align:right;"> Home > About Us</div>
								</div>
							
                            </div>*@

                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
   </section><!--/#main-slider-->

    <section id="feature">
       @RenderBody()
    </section><!--/#feature-->

    

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
				<div class="social-sahre-links">
					<i class="fa fa-facebook"></i>
					<i class="fa fa-twitter"></i>
					<i class="fa fa-youtube"></i>
					<i class="fa fa-linkedin"></i>
					<i class="fa fa-envelope"></i>
				</div>
				<div>Privacy Policy &nbsp;&nbsp;&nbsp;&nbsp;Copyright</div>
				</div>
                <div class="col-sm-4">
				<div style="margin-bottom: 7px;">Subscribe to our newsletter</div>
                    <div>
                        <input type="text" id="Mailid" placeholder="Email address" style="width: 285px;padding: 5px 10px;font-weight: bold;font-size: 13px;" />
                        <button onclick="mail();"><span>Go</span></button>
                    </div>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="js/jquery_002.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery_003.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $("#search").hide();
        $("#meg").show();
    });
    </script>
    <script>
        function getsearch()
        {
            $("#search").show();
            $("#meg").hide();
        }
    </script>
    <script>
        function searchclose()
        {
            $("#search").hide();
            $("#meg").show();
        }
    </script>
    <script>
        $('.jqte-test').jqte();

        // settings of status
        var jqteStatus = true;
        $(".status").click(function () {
            jqteStatus = jqteStatus ? false : true;
            $('.jqte-test').jqte({ "status": jqteStatus })
        });
</script>

</body></html>
