@model GCNI.Models.GCNIModel
@{
    ViewBag.Title = "ContactUS";
    Layout = "~/Views/Shared/AboutUsMaster.cshtml";
}
<style>
    #ConTable {width:100%;
               height:100%;
    }
</style>
<link href="~/css/main.css" rel="stylesheet" />
@*<link href="~/css/tableStyle.css" rel="stylesheet" />*@
@*<section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <div class="carousel-inner">
                <div class="item active" style="height: 175px;">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-12">
                                <div class="slider-img">
                                    <img src="../images/img2.png" class="img-responsive">
                                </div>
								<div style="color: rgb(255, 255, 255); font-weight: bold; font-family: Gotham; font-size: 18px; text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6); margin-top: 135px;">
									<div class="col-sm-4">About_Us Team</div>
									<div class="col-sm-8" style="text-align:right;"> Home > About Us</div>
								</div>
							
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->	
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
    </section><!--/#main-slider-->*@

 
<section id="feature">
    <div class="row">
    <div class="col-lg-4 "><img src="images/img3.png" height="400px" class="img-thumbnail" />
    </div>
    <div class="col-lg-8 first-row thirdrow sideDiv" >
    <p> Do you consider that going for integrity due diligence is a smart step towards risk reduction on the investments of a company? Three Reasons TTIP Needs Transparency.
                 A gigantic trade deal uniting over 800 million consumers across the United States and the European Union, and yet all. Do you consider that going for integrity due diligence is a smart step towards risk reduction on the investments of a company? Three Reasons TTIP Needs Transparency.A gigantic trade deal uniting over 800 million consumers across the United States and the European Union, and yet all.Do you consider that going for integrity due diligence is a smart step towards risk reduction on the investments of a company? Three Reasons TTIP Needs Transparency.A gigantic trade deal uniting over 800 million consumers across the United States and the European Union, and yet all. Do you consider that going for integrity due diligence is a smart step towards risk reduction on the investments of a company? Three Reasons TTIP Needs Transparency.A gigantic trade deal uniting over 800 million consumers across the United States A gigantic trade deal uniting over 800 million consumers across the United States and the European Union, and yet all. Do you consider that going for integrity due diligence is a smart step towards risk reduction on the investments of a company? Three Reasons TTIP Needs Transparency.A gigantic trade deal uniting over 800 million consumers across the United States and the European Union, and yet all.</p>   
    </div>
    
    </div>
      <div class="first-row thirdrow fContent" >
                
             
				<p> Do you consider that going for integrity due diligence is a smart step towards risk reduction on the investments of a company? Three Reasons TTIP Needs Transparency.
                 A gigantic trade deal uniting over 800 million consumers across the United States and the European Union, and yet all. Do you consider that going for integrity due diligence is a smart step towards risk reduction on the investments of a company? Three Reasons TTIP Needs Transparency.
                 A gigantic trade deal uniting over 800 million consumers across the United States and the European Union, and yet all.

				</p>     
                <p> Do you consider that going for integrity due diligence is a smart step towards risk reduction on the investments of a company? Three Reasons TTIP Needs Transparency.
                 A gigantic trade deal uniting over 800 million consumers across the United States and the European Union, and yet all. Do you consider that going for integrity due diligence is a smart step towards risk reduction on the investments of a company? Three Reasons TTIP Needs Transparency.
                 A gigantic trade deal uniting over 800 million consumers across the United States and the European Union, and yet all.

				</p>   
                <p> Do you consider that going for integrity due diligence is a smart step towards risk reduction on the investments of a company? Three Reasons TTIP Needs Transparency.
                 A gigantic trade deal uniting over 800 million consumers across the United States and the European Union, and yet all. Do you consider that going for integrity due diligence is a smart step towards risk reduction on the investments of a company? Three Reasons TTIP Needs Transparency.
                 A gigantic trade deal uniting over 800 million consumers across the United States and the European Union, and yet all.

				</p>   
                <p> Do you consider that going for integrity due diligence is a smart step towards risk reduction on the investments of a company? Three Reasons TTIP Needs Transparency.
                 A gigantic trade deal uniting over 800 million consumers across the United States and the European Union, and yet all. Do you consider that going for integrity due diligence is a smart step towards risk reduction on the investments of a company? Three Reasons TTIP Needs Transparency.
                 A gigantic trade deal uniting over 800 million consumers across the United States and the European Union, and yet all.

				</p>   
                <p> Do you consider that going for integrity due diligence is a smart step towards risk reduction on the investments of a company? Three Reasons TTIP Needs Transparency.
                 A gigantic trade deal uniting over 800 million consumers across the United States and the European Union, and yet all. Do you consider that going for integrity due diligence is a smart step towards risk reduction on the investments of a company? Three Reasons TTIP Needs Transparency.
                 A gigantic trade deal uniting over 800 million consumers across the United States and the European Union, and yet all.

				</p>                
               </div>
    </section>

    

    

    <script src="js/jquery_002.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery_003.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.js"></script>

</body></html>
