@model GCNI.Models.GCNIModel
@{
    ViewBag.Title = "ShowError";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1>
        Sorry, an error occurred while processing your request.<br />
        
    </h1><h2 id="msg">@ViewBag.sErrMssg</h2>
</body>
</html>